/* Hamburger Menu  */

.header-class{
    display: flex;
}

@media screen and (max-width: 768px) {
    .main-menu {
      display: none;
    }
    .show {
      display: block !important;
    }
  }
  .hamburger {
    cursor: pointer;
    display: none;
    padding: 15px 15px;
    position: absolute;
    right: 0;
    top: 1rem;
  }
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -9px);
  }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
  }