footer {
    font-family: $font-heading;

    &>div {
        background-color: $color-grey-3;
    }

    .footer-flex-row {
        max-width: 140rem;
        margin: 0 auto;
        padding: 2rem;
    }

    .wp-block-columns {
        margin-bottom: 0;
    }

    figure {
        margin: 0 0 4rem;
    }

    .wp-block-image img {
        width: 23rem;
    }

    .wp-container-6 {
        gap: 0;

        .wp-block-column {
            padding: 3rem 0;

            &:nth-of-type(2) {
                @include respond(medium) {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-end;
                }

                @include respond(large) {
                    align-content: unset;
                }
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                border-bottom: 0.1rem solid rgba($color: $color-white, $alpha: 0.2);

                @include respond(large) {
                    border-bottom: unset;
                }
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                @include respond(large) {
                    margin-top: 4rem;
                    width: 28rem;
                    margin-left: auto;
                }
            }

            &:nth-child(1) {
                @include respond(large) {
                    width: 37rem;
                }
            }
        }


        @include respond(medium) {
            @include grid(40rem, 0);
        }

        @include respond(large) {
            @include grid(28rem, 0);
        }


    }

    .wp-container-9 {
        gap: 0;
        text-align: center;
        padding-top: 3rem;

        p {
            color: rgba($color: $color-white, $alpha: 0.75);
        }

        .wp-block-column:nth-child(2) p {
            @include respond(medium) {
                text-align: right;
            }
        }

        @include respond(medium) {
            text-align: unset;
        }

        @include respond(large) {
            border-top: 0.1rem solid rgba($color: $color-white, $alpha: 0.2);
            margin-bottom: 0;
        }
    }

    .wp-block-heading {
        color: $color-primary-light;
        font-size: $default-font-size;
        margin-bottom: 1rem;

        @include respond(medium) {
            font-size: 1.8rem;
            margin-bottom: 1.8rem;
        }

        &+p {
            color: rgba($color: $color-white, $alpha: 0.75);
            margin-bottom: 0;
        }
    }

    .sitemap,
    .contact,
    .socials {
        .menu {
            column-count: 2;
            column-gap: 4rem;

            &-item {
                margin-bottom: 1rem;
            }

            a {
                color: rgba($color: $color-white, $alpha: 0.75);
                text-transform: capitalize;
            }
        }

        p:nth-of-type(1) {
            margin-bottom: 1rem;
        }

        p {
            color: rgba($color: $color-white, $alpha: 0.75);
            margin-bottom: 0;
        }

        .wp-social-link {
            background-color: #ffffff !important;

            .wp-block-social-link-anchor {
                fill: #252525 !important;
                color: #252525 !important;
            }
        }

    }
}