header {

    .header-class {
        @include alignCenter;
        justify-content: space-between;

        @include respond(large) {
            justify-content: center;
        }
    }

    .site-branding img {
        width: 18rem;
        height: auto !important;

        @include respond(large) {
            width: 23rem;
        }
    }

    nav {
        background-color: $color-grey-3;
        position: absolute;
        top: 7.9rem;
        width: 100%;
        display: none;
        z-index: 999;

        &.show {
            display: block !important;
        }

        @include respond(large) {
            display: block;
            background-color: transparent;
            position: unset;
            width: unset;
            @include alignCenter;
        }

        .menu-primary-menu-container {
            @include respond(large) {
                width: 60vw;
            }

        }

        .menu {

            @include respond(large) {
                @include alignCenter;
                gap: 5rem;
                margin: 2rem 0;
            }

            #menu-item-961 {
                display: none;
            }

            .menu-item {
                padding: 1.6rem;
                border-bottom: 2px solid $color-grey-2;

                @include respond(large) {
                    padding: unset;
                    border-bottom: unset;
                }

                a {
                    color: $color-white;
                    font-size: 1.8rem;
                    font-family: $font-heading;
                    text-transform: uppercase;

                    @include respond(large) {
                        color: unset;
                        font-weight: 500;
                    }
                }
            }
        }

        a.btn.btn-yellow--outline {
            font-size: 1.8rem;
            display: block;
            margin: 1.6rem;

            &>div {
                @include alignCenter;
                gap: 1.6rem;
            }

            svg path {
                @include respond(large) {
                    fill: $color-secondary;
                }

                &:hover {
                    fill: $color-primary-dark;
                    transition: all 200ms ease-in-out;
                }
            }

            @include respond(large) {
                font-size: 2rem;
                color: $color-secondary;
                border: none;
                margin: 0;
                padding: 0 2rem !important;
                background-color: unset;
            }
        }
    }

    .menu-icon {
        cursor: pointer;
        display: block;
        padding-right: 1rem;

        @include respond(large) {
            display: none;
        }
    }
}

.logged-in header nav {
    top: 12.5rem;

    @include respond(medium) {
        top: 11rem;
    }
}