.contact_cta {
    background-color: $color-primary;

    p {
        color: $color-white;
    }

    .is-layout-flex {
        flex-direction: column;
    }

    .wp-block-buttons>.wp-block-button {
        display: block;
        width: 100%;
        text-align: center;
    }
}