form {

    input,
    textarea,
    select {
        color: $color-grey-2;
        font-family: $font-body;
        display: block;
        width: 100%;
        line-height: 1.5;
        padding: 0.8rem 1.2rem;
        font-size: $default-font-size;
        background-color: $color-white;
        background-clip: padding-box;
        border: 1px solid $color-grey-1;
        border-radius: $border-radius;

        &:focus {
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
        }
    }

    input[type="submit"] {
        border: none;
    }

    .form-label {
        font-weight: 500;
        display: inline-block;
        margin-bottom: 0.75rem;
    }

    textarea {
        height: 15rem;
    }

    .caption {
        display: inline-block;
        margin-top: 0.5rem;
        font-size: 1.4rem;
        color: #7a838b;
    }
}