.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 6rem 2rem;

    @include respond(large) {
        .container {
            padding: 7rem 0;
        }
    }
}

.text-center {
    text-align: center;
}