.confirmation {

    .container {
        padding: 8rem 2rem;

        @include respond(medium) {
            padding: 12rem 2rem;
            max-width: 100rem;
        }
    }

    .heading-secondary span {
        color: $color-secondary-light;
    }

    a.link {
        color: $color-secondary-light;

        &:hover {
            color: $color-secondary;
        }
    }

    .btn-underline {
        @include alignCenter;
        justify-content: flex-start;
        width: fit-content;
        gap: 0.5rem;
        margin-top: 4rem;
        padding: 0 !important;
    }
}