.contact {
    .container {
        @include respond(medium) {
            max-width: 110rem;
        }
    }

    form {
        margin-top: $gutter-horizontal;

        .grid {
            @include grid(25rem, 3rem 2.5rem);
            margin: 4rem 0;

            @include respond(medium) {
                @include grid(42rem, 3rem 2.5rem);
            }
        }

        p {
            margin-bottom: 0;

            &:nth-of-type(1),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: 1 / -1;
            }

            &:nth-of-type(4),
            &:nth-of-type(5) {
                .form-label {
                    margin-bottom: 0
                }

                .caption {
                    margin-top: 0;
                    margin-bottom: 1.5rem;
                }
            }
        }

        input {
            &.wpcf7-submit {
                @include btnSubmit;

                &:focus {
                    border-color: none;
                }

                @include respond(large) {
                    width: 25%;
                }
            }
        }

        .wpcf7-checkbox {
            @include grid(20rem, 0 2.5rem);
            margin: 1rem 0 0;

            .wpcf7-list-item {
                @include alignCenter;
                justify-content: flex-start;
                gap: 0.8rem;
                margin: 0 0 1rem;

                input[type="checkbox"] {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }

            .wpcf7-list-item-label {
                font-size: $default-font-size;
            }
        }
    }
}