.cut-sheets,
.cut-sheets-search {

    .container {
        @include respond(medium) {
            padding: 6rem 2rem;
        }
    }

    .search-submit {
        margin-top: 0;
        @include btnSubmit;

        @include respond(medium) {
            display: inline-block;
            width: unset;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &--grid-container {
        @include grid(17rem, 3.5rem 2.5rem);
        margin: 4rem 0;

        @include respond(medium) {
            @include grid(22rem, 3.5rem 2.5rem);
        }

        .pagination {
            grid-column: 1 / -1;
            @include alignCenter;
            justify-content: flex-end;
            margin-top: 4rem;

            .page-numbers {
                padding: 0.8rem 1.6rem;
                border: 0.1rem solid rgba($color: $color-secondary-light, $alpha: 0.35);
                color: $color-secondary;

                &:not(:last-of-type),
                &.current {
                    border-right: none;
                }

                &:nth-child(1) {
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                }

                &:last-child {
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }

                &.current {
                    color: $color-white;
                    background-color: $color-secondary;
                }
            }
        }
    }

    &--grid-title a h3 {
        font-size: $default-font-size;
        font-family: $font-heading;
        color: $color-grey-2;
        font-weight: 500;
        margin: 1rem 0;
        width: 100%;

        @include respond(large) {
            font-size: 1.8rem;
        }
    }

    &--grid-pdf {
        display: inline-block;
        width: 100%;
        height: 20rem;
        margin: auto;
        border: 0.2rem solid $color-primary-light;
        border-radius: $border-radius;
        @include alignCenter;

        svg {
            display: inline-block;
            width: 12rem;

            image {
                width: 100%;
            }
        }

        @include respond(medium) {
            height: 25rem;
        }
    }



    .entry-footer {
        @include alignCenter;
        gap: 0.5rem;
        text-transform: uppercase;

        .post-edit-link {
            color: $color-secondary-light;
            font-size: 1.5rem;
        }

        svg {
            color: $color-secondary-light;
        }
    }

    &--keyword .heading-primary {
        width: 100%;

        @include respond(medium) {
            font-size: 5rem !important;
        }
    }

    form.search-form {
        @include respond(medium) {
            @include alignCenter;
            align-items: stretch;

            label {
                flex: 2;

                input {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }

        @include respond(large) {
            width: 50%;
            margin-left: auto;
        }

        input[type="submit"] {
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 0;

            @include respond(medium) {
                display: inline-block;
                width: unset;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                height: 4.6rem;
            }
        }
    }

    .btn-underline {
        color: $color-primary-light;
        border-bottom: 0.1rem solid $color-primary-light;
        width: fit-content;
        margin: 0 auto 1.6rem;
        @include alignCenter;
        gap: 0.5rem;
        padding: 0 !important;
    }

}

.cut-sheet-category {
    .heading-primary {
        font-size: 2.4rem !important;
        font-weight: lighter;
        font-family: $font-body;
        text-transform: capitalize;
        width: 100%;

        span {
            display: block;
            font-size: 6rem;
            font-weight: 600;
            font-family: $font-heading;
            text-transform: uppercase;
        }
    }

    .cut-sheets--grid-container {
        margin: 0;
    }
}