.error-404 {
    color: rgba($color: $color-white, $alpha: 0.95);

    .page-title {
        color: $color-primary;
        font-family: $font-heading;
        font-size: clamp(15rem, 13vw, 18rem);
        font-weight: bold;

        &+p {
            font-family: $font-heading;
            font-size: clamp(3.5rem, 3vw, 5rem);
            font-weight: bold;
            margin-top: -3rem;
        }
    }

    .page-content p {
        max-width: 60ch;
        margin: 0 0 2.5rem;
    }

    input[type="submit"] {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
}