.error-404 {
    color: rgba($color: $color-white, $alpha: 0.95);

    .page-header {
        margin-top: -5rem;

        .page-title {
            color: $color-primary;
            font-family: $font-heading;
            font-size: clamp(15rem, 13vw, 22rem);
            font-weight: bold;

            &+p {
                font-family: $font-heading;
                font-size: clamp(3.5rem, 3vw, 5rem);
                font-weight: bold;
                margin-top: -3rem;
            }
        }
    }

    .page-content {
        p {
            margin: 0 0 3.5rem;
        }

        .error-404--nav {
            @include alignCenter;
            flex-direction: column;
            gap: 1rem;

            @include respond(medium) {
                flex-direction: row;
            }
        }

        a.btn-content {
            border: 0.2rem solid $color-primary;
            width: 100%;

            @include respond(medium) {
                width: fit-content;
            }
        }

        a.btn-white--outline {
            width: 100%;

            div {
                @include alignCenter;
                gap: 1rem;
            }

            svg path {
                fill: $color-white;
            }

            @include respond(medium) {
                width: fit-content;
            }
        }
    }


}