// Services

.services {

    .intro .container {
        @include respond(large) {
            @include alignCenter;
            justify-content: space-between;

            .heading-secondary {
                max-width: 30ch;
            }

            p {
                max-width: 90ch;
            }

            &>div:first-of-type {
                flex: 3;
            }

            &>div:last-of-type {
                flex: 1;
                text-align: right;
            }

            .btn-content {
                margin-top: 0;
            }
        }
    }
}

.services-grid {

    .container {
        padding: 0 2rem 8rem;

        @include respond(medium) {
            @include alignCenter;
            flex-wrap: wrap;
            align-items: baseline;
            gap: 1.8rem;
        }
    }

    .service-item {
        margin-bottom: 5rem;

        @include respond(medium) {
            width: 48%;
            margin-bottom: 3rem;
        }

        &:first-of-type,
        &:nth-of-type(2),
        &:nth-of-type(6),
        &:last-of-type {
            @include respond(large) {
                width: 48%;

                img {
                    height: 50rem;
                }
            }
        }

        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
            @include respond(large) {
                width: 32%;
            }
        }

        p {
            margin: 2rem 0;
        }

        img {
            height: 40rem;
            object-fit: cover;

            @include respond(medium) {
                height: 40rem;
            }
        }

        h3 {
            color: $color-grey-3;
            font-family: $font-heading;
            font-size: 2.6rem;
            font-weight: 500;
            margin: 2rem 0 0;
            text-transform: uppercase;
        }
    }
}

// Single Services

.single-service {
    .banner {
        .bg-opaque {
            background: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .55));
            width: 100%;
            height: 40vh;
            @include alignCenter;
        }

        .heading-secondary {
            color: $color-white;
            text-transform: uppercase;
        }
    }

    .slider {
        margin: 2rem;

        @include respond(medium) {
            margin: 2rem 0 0;
        }

        p {
            font-family: $font-body;
            font-size: $default-font-size;
            margin: 0rem 2rem;
        }

        p:first-of-type {
            margin-top: 5rem;
        }

        p:last-of-type {
            margin-bottom: 4rem;
        }
    }

    .service-description {
        .container {
            padding: 2rem 2rem 6rem;
        }

        ul {
            margin-bottom: 2rem;
        }

        li {
            margin-bottom: 0.5rem;

            &:before {
                content: "\2014";
                color: $color-primary;
                display: inline-block;
                width: 2.5rem;
                margin-left: 0.5rem;
            }
        }
    }
}

.other-services {
    background-color: $color-secondary-light-bg;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

    .container {
        padding: 6rem 2rem 2rem;
    }

    .heading-secondary {
        margin-bottom: 3rem;
    }

    h3 {
        color: $color-grey-3;
        font-family: $font-heading;
        font-size: 2.2rem;
        font-weight: 500;
        margin: 2rem 0 0;
        text-transform: uppercase;
    }

    p {
        margin: 2rem 0;
    }

    &--item {
        margin-bottom: 5rem;

        .post-thumbnail img {
            height: 30rem;
            object-fit: cover;
        }
    }

    .grid {
        @include respond(medium) {
            @include grid(35rem, 1.8rem);
        }
    }
}